<footer class="footer">
  <small>
    The <a target="_blank" href="https://github.com/Delictum/task-list">Task list</a>
    by <a target="_blank" href="https://github.com/Delictum/">Ihar Alishkevich</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><a href="mailto:thedrakoneragoni@gmail.com">Feedback</a></li>
    </ul>
  </nav>
</footer>